.footer {
  margin-top: 67px;
  margin-bottom: 60px;
  padding: 0;
}

.footer__text {
  margin: 0;
  font: 400 18px/1.21 Inter, Arial, Helvetica, sans-serif;
  color: #545454;
}

@media screen and (max-width: 620px) {
  .footer {
    margin: 48px 19px 36px;
  }
  .footer__text {
    font: 400 14px/1.21 Inter, Arial, Helvetica, sans-serif;
  }
}
