.header {
  margin-top: 45px;
}
.header__logo {
  margin: 0;
  padding: 0;
}

.header__divider {
  border-top: 1px solid #545454;
  opacity: 0.3;
  margin: 41px 0 0;
}

@media screen and (max-width: 480px) {
  .header {
    margin: 0;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    margin: 28px 167px 0 27px;
  }
  .header__divider {
    margin: 32px 0 0;
    opacity: 0.2;
    width: 100vw;
  }
}
