.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 30px;
}

.profile__info {
  max-width: 415px;
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 415px) auto;
  align-items: center;
}

.profile__title {
  font: 500 42px/1.14 Inter, Arial, Helvetica, sans-serif;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
  margin: 0;
}

.profile__edit-button {
  background: transparent url(../images/edit\ inactive.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  outline: 1px solid white;
  border: none;
}

.profile__edit-button:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
  cursor: pointer;
}

.profile__description {
  font: 400 18px/1.2 Inter, Arial, Helvetica, sans-serif;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 373px;
  overflow: hidden;
}

.profile__add-button {
  background: transparent url(../images/add\ inactive.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  outline: 2px solid white;
  border: none;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .profile__info {
    max-width: 400px;
    grid-template-columns: minmax(auto, 340px) auto;
  }

  .profile__title {
    font: 500 36px/1.13 Inter, Arial, Helvetica, sans-serif;
  }

  .profile__description {
    font: 400 14px/1.21 Inter, Arial, Helvetica, sans-serif;
  }

  .profile__add-button {
    width: 100px;
    height: 50px;
    margin-left: auto;
    outline: 2px solid white;
    border: none;
    border-radius: 2px;
    padding: 0;
  }
}

@media screen and (max-width: 680px) {
  .profile__info {
    max-width: 350px;
    min-height: 60px;
    grid-template-columns: minmax(auto, 245px) auto;
  }

  .profile__title {
    font: 500 26px/1.17 Inter, Arial, Helvetica, sans-serif;
    grid-area: title;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}

@media screen and (max-width: 570px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .profile__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    gap: 20px;
  }

  .profile__title {
    font: 500 22px/1.21 Inter, Arial, Helvetica, sans-serif;
  }

  .profile__edit-button {
    margin: 0 10px 0;
    padding: 0;
    flex-shrink: 0;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin: 14px 0 0;
  }

  .profile__add-button {
    margin: 36px 19px 0;
    padding: 0;
    width: 282px;
    height: 50px;
    min-width: 100%;
  }
}
