.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
}
.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}
.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 25px 20px;
}

.card__title {
  max-width: 220px;
  margin: 0;
  padding: 0;
  font: regular 900 24px/1.21 Inter, Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url("../images/like-inactive.svg") center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
}

.card__like-button_active {
  background-image: url("../images/like-active.svg");
}

.card__like-button:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
  cursor: pointer;
}

.card__trash-button {
  background: transparent url("../images/Trash.svg") center no-repeat;
  width: 18px;
  height: 19.3px;
  border: none;
  position: absolute;
  margin-top: 18px;
  margin-left: 249px;
}

.card__trash-button:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
  cursor: pointer;
}
