/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s linear;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  max-width: 430px;
  max-height: 330px;
}

.modal__container_preview {
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
}
.preview__modal-wrapper {
  position: relative;
  display: inline-block;
}

.modal__close {
  width: 40px;
  height: 40px;
  background-image: url("../images/close-icon.svg");
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  transition: opacity 0.3s;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  color: #000;
  font: 900 24px/29.05px Inter, Arial, Helvetica, sans-serif;
  margin: 0 28px 54px 0;
  width: 330px;
}

.modal__form {
  max-height: 220px;
  overflow-y: auto;
}

.modal__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 29.74px;
  padding: 0 0 13.26px;
  font: 400 14px/16.94px Inter, Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
}

.modal__input:first-child {
  margin-top: 0;
}

.modal__button {
  width: 100%;
  height: 50.15px;
  border: none;
  margin-top: 40px;
  padding: 0;
  border-radius: 2px;
  color: #fff;
  background: #000;
  font: 400 18px/21.78px Inter, Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: opacity 0.3s;
}

.modal__button:hover {
  opacity: 0.8;
}

.preview__modal-image {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
  display: block;
  position: relative;
}

.preview__modal-caption {
  margin-top: 10px;
  font: 400 12px/14.52px Inter, Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: left;
  width: 100%;
}

@media screen and (max-width: 555px) {
  .modal__container {
    max-width: 282px;
    padding: 25px 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 20px);
    left: calc(100% + -25px);
  }

  .modal__heading {
    margin: 0 0 75px;
    font: 900 18px/21.78px Inter, Arial, Helvetica, sans-serif;
    max-width: 238px;
  }

  .modal__input {
    max-width: 238px;
    padding: 0 0 13px;
  }

  .modal__button {
    height: 46px;
    font: 400 14px/16.94px Inter, Arial, Helvetica, sans-serif;
  }

  .preview__modal-wrapper {
    padding: 0;
  }

  #preview-image-close {
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
    cursor: pointer;
    transition: opacity 0.3s;
    padding: 0;
  }

  .preview__modal-image {
    max-width: 75vw;
    max-height: 75vh;
    object-fit: contain;
  }
}

.modal__button_disabled {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #00000020;
  background: #00000000;
  cursor: not-allowed;
}

.modal__input_type_error {
  border-color: red;
}

.modal__error_visible {
  font: 400 12px/14.52px Inter, Arial, Helvetica, sans-serif;
  display: block;
  color: rgba(255, 0, 0);
}

.modal__error-container {
  position: relative;
}

.modal__error {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  color: red;
  opacity: 1;
  transition: opacity 0.3s;
}

.modal__error_active {
  opacity: 1;
} */

.modal {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 19px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.6s, opacity 0.6s;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.6s;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  max-width: 430px;
  width: 358px;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url("../images/close-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 50%;
}

.modal__heading {
  color: #000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
  padding-bottom: 54px;
  padding-right: 28px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__text-box:first-of-type {
  margin-bottom: 29px;
}

.modal__text-box:last-of-type {
  margin-bottom: 48px;
}

.modal__input {
  border: none;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  width: 358px;
}

.modal__input:first-of-type {
  margin-bottom: 29px;
}

.modal__input:last-of-type {
  margin-bottom: 48px;
}
.modal__input-error {
  border-bottom: 1px solid red;
}

.modal__error {
  color: red;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  position: absolute;
  top: 140px;
}

.modal__error:last-of-type {
  position: absolute;
  top: 190px;
}

.modal__error_visible {
  opacity: 1;
}

.modal__button {
  background-color: #000;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  height: 50px;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 50%;
}

.modal__button_disabled:hover {
  opacity: 1;
}

.modal__picture_container {
  position: relative;
  margin: auto;
}

.modal__picture {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__button_confirm {
  padding: 15px;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: #000000;
  margin: 38px 0 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.modal__heading_confirm {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin-bottom: 38px;
  margin-top: 0;
}

.modal__heading-confirm {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #000;
}

.modal__button_disabled {
  background-color: #fff;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
  padding: 0;
}

@media screen and (max-width: 620px) {
  .modal__container {
    max-width: 282px;
    padding: 25px 22px;
    box-sizing: border-box;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 21px;
    padding: 0 0 75px;
  }

  .modal__text-box:first-of-type {
    margin-bottom: 30px;
  }

  .modal__text-box:last-of-type {
    margin-bottom: 45px;
  }

  .modal__input:first-of-type {
    margin-bottom: 30px;
  }
  .modal__input:last-of-type {
    margin-bottom: 45px;
  }

  .modal__close {
    top: -39px;
    left: 250px;
    height: 26px;
    width: 26px;
  }

  .modal__button {
    cursor: pointer;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 16px;
  }

  .modal__input-error {
    top: 140px;
    font-size: 10px;
  }

  .modal__input-error:last-of-type {
    top: 190px;
    font-size: 10px;
  }
}
